
.boton  {
   
    width: 200px;
    height: 80px;
}


.boton::before {
    content: "Pasa por encima";
}

.boton:hover    {
    background-color: green;
    color: white;
}

.boton:hover::before  {
    content: "¡Hecho!";
}
