{% extends 'base_generic.html' %}


{% block header %}

<h1>Mundo de Peliculas</h1>

    <p>Bienvenido a un mundo de Peliculas</p>

{% endblock %}


{% block body %}
    

    

<h2>Contador de Peliculas</h2>
    
    <p>Los contenidos disponibles son:</p>
    <ul>
        <li><strong>Peliculas:</strong> {{ num_peliculas }} </li>
        <li><strong>Peliculas Disponibles:</strong> {{ disponibles }} </li>
        <li><strong>Generos:</strong> {{ num_genero }} </li>
        <li><strong>Directores:</strong> {{ num_director }} </li>
    </ul>


    {% endblock %}    